*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.hide{
    display:none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8C52FF;
    color: white;
    padding: 10px 20px;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a img{
    width: 25px;
    margin-right: 15px;
}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
  border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
        margin: 25px 0;
        color:  #626262;
        font-weight: 500;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.icono{
    height: 42px;
    width: 42px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #1FEB74, #4A90E2);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    width: 160px;
    margin-right: 45px;
}
.barra{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-right{
    display: flex;
}
.nav-items,
.nav-right1 {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.nav-items li,
.nav-right1 li {
    margin: 0 10px; /* Espacio proporcional entre los elementos */
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;

}.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.main-content {
    display: flex;
    margin-top: 20px;

    flex: 1;                  /* Cada elemento ocupará el mismo espacio */
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
}

.sidebar {
    width: 25%;
    background:linear-gradient(to right, #37ff8a, #30C6A0) ;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-left: 0;  
}

.profile {
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.friends ul {
    list-style: none;
    padding: 0;
}

.friends li {
    padding: 5px 0;
}

main {
    flex: 1;
    background: linear-gradient(to right, #30C6A0, #3AB1BA);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
}

.camera{
    height: 29px;
    width: 40px;
}

.cameraPrivacity, .privacidad{
    display: flex; 
    align-items: center;
}
.create-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}

.create-post textarea {
    width: 100%;    
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

.create-post button {
    margin-top: 10px;
    background: #b2429f;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/*
.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;

}*/
.container{
    display: flex;             /* Habilita Flexbox */
    justify-content: space-between; /* Distribuye el espacio entre elementos */
}

.posts .post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.posts .post h3 {
    margin: 0 0 10px 0;
}

.placeholder{
    outline: none;
}

.right-content{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: linear-gradient(to right, #3AB1BA, #3EA9C4);
    flex: 1;                  /* Cada elemento ocupará el mismo espacio */
    margin: 0 10px;          /* Margen lateral entre los elementos */
    box-sizing: border-box;
    margin-right: 0;  
}
aside{
    margin-left: 0;
}